{% set title = "쇼핑몰 메인화면" %}
{% extends "layout/base.html" %}

{# 좋아요 불러오기 #}
{% from "macro/like.html" import like %}

{# 태그 불러오기 #}
{% from "macro/tag.html" import view_tag %}

{% block content -%}
    <div class="container prd masonry_container">
        {% if products and products.length > 0 %}
          {% for product in products %}
          <div class="masonry-grid">
            <a class="product-link-wrap" href="/products/{{ product.id }}">
              {% if product.thumbnail %}
                <img src="/uploads/{{ product.thumbnail }}">
              {% endif %}
              <p>
                  {{ product.name }}<br />
                  by {{ product.Owner.displayname }} (
                      {{ product.dateFormat( product.createdAt ) }}
                  )
              </p>
            </a>

            <!-- 태그 불러오기 -->
            {{ view_tag( product.Tag ) }}

            <div class="likeInfo">
              {% if product.LikeUser and product.LikeUser.length > 0 %}
              {{ product.LikeUser[0].displayname }}님 외, {{ product.LikeUser.length }}명이 좋아합니다.
              {% endif %}
            </div>
            <span class="likeBtn" id="like_area_{{ product.id }}">
              {{ like( isLogin, product.id, userLikes ) }}
            </span>
          </div>
          {% endfor %}
        {% else %}
          <div class="emptyPrd">준비된 상품이 없습니다.</div>
        {% endif %}
    </div>

<style type="text/css">
.emptyPrd {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 50px 0;
}
.masonry-grid {
  position: relative;
}
.masonry-grid .likeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
}
.masonry-grid .likeInfo {
  font-size: 13px;
  color: #fb4d6e;
}
.masonry-grid p {
  margin: 0;
}
.masonry-grid img { max-width: 260px; }
.product-link-wrap {
  display: block;
}
.product-link-wrap:hover {
  text-decoration: none;
}
.product-link-wrap p {
  color: #000;
  text-decoration: none;
}
</style>
<script type="text/javascript">
  var $masonry_container = $('.masonry_container');
  $masonry_container.imagesLoaded(function(){
    $masonry_container.masonry({
      itemSelector: '.masonry-grid',
      columnWidth: 270
    });
  });
</script>
{% endblock %}
