{% if contact %}
{% set title = "컨택트 수정" %}
{% else %}
{% set title = "컨택트 등록" %}
{% endif %}
{% extends "layout/base.html" %}

{% block content -%}
<form action="" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  <table class="table table-bordered">
    <tr>
      <th>컨택트명</th>
      <td><input type="text" name="name" class="form-control" value="{{ contact.name }}"/></td>
    </tr>
    <tr>
      <th>섬네일</th>
      <td>
        <input id="imgInp" type="file" name="thumbnail" />
        <div style="padding: 10px 0;">
          <img
            style="width: 100px; height: 100px;"
            id="prevImg"
            alt="Preview image"
            src="{% if contact.thumbnail %}/uploads/{{ contact.thumbnail }}{% else %}#{% endif %}"
          />
        </div>
        {% if contact.thumbnail %}
            <a href="/uploads/{{ contact.thumbnail }}" target="_blank">업로드 이미지 보기</a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>가격</th>
      <td><input type="text" name="price" class="form-control" value="{{ contact.price }}"/></td>
    </tr>
    <tr>
      <th>설명</th>
      <td><input type="text" name="description" class="form-control" value="{{ contact.description }}"/></td>
    </tr>
  </table>
  <button class="btn btn-primary">
    {% if contact %}
    수정하기
    {% else %}
    작성하기
    {% endif %}
  </button>
</form>

<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#prevImg').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }
}
$("#imgInp").change(function() {
  readURL(this);
});
</script>
{% if contact %}
<a
  href="/contacts/delete/{{ contact.id }}"
  class="btn btn-danger"
  onclick="return confirm('삭제하시겠습니까?')"
>
  삭제
</a>
{% endif %}
{% endblock %}
