{% if product %}
{% set title = "제품 수정" %}
{% else %}
{% set title = "제품 등록" %}
{% endif %}
{% extends "layout/base.html" %}

{% block content -%}
<form action="" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  <table class="table table-bordered">
    <tr>
      <th>제품명</th>
      <td><input type="text" name="name" class="form-control" value="{{ product.name }}"/></td>
    </tr>
    <tr>
      <th>섬네일</th>
      <td>
        <input id="imgInp" type="file" name="thumbnail" />
        <div style="padding: 10px 0;">
          <img
            style="width: 100px; height: 100px;"
            id="prevImg"
            alt="Preview image"
            src="{% if product.thumbnail %}/uploads/{{ product.thumbnail }}{% else %}#{% endif %}"
          />
        </div>
        {% if product.thumbnail %}
            <a href="/uploads/{{ product.thumbnail }}" target="_blank">업로드 이미지 보기</a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>가격</th>
      <td><input type="text" name="price" class="form-control" value="{{ product.price }}"/></td>
    </tr>
    <tr>
      <th>설명</th>
      <td>
        <textarea name="description" class="form-control" id="summernote">{{ product.description }}</textarea>
      </td>
    </tr>
  </table>
  <button class="btn btn-primary">
    {% if product %}
    수정하기
    {% else %}
    작성하기
    {% endif %}
  </button>
</form>

<!-- <script> console.log('{{ csrfToken | safe }}')</script> -->
<script>
$(document).ready(function(){
  $('#summernote').summernote({
    lang: 'ko-KR',
    height: 300,
    callbacks: {
      onImageUpload: function(files) {
        sendFile(files[0]);
      }
    }
  });
  function sendFile(file, editor, welEditable) {
    data = new FormData();
    data.append("thumbnail", file);
    $.ajax({
      data: data,
      type: "POST",
      url: '/admin/products/ajax_summernote/',
      cache: false,
      contentType: false,
      processData: false,
      success: function(url) {
        $('#summernote').summernote("insertImage", url);
      }
    });
  }
});
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#prevImg').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }
}
$("#imgInp").change(function() {
  readURL(this);
});
</script>
{% if product %}
<a
  href="/admin/products/delete/{{ product.id }}"
  class="btn btn-danger"
  onclick="return confirm('삭제하시겠습니까?')"
>
  삭제
</a>
{% endif %}

<!-- 스타일관련 -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
<!-- 자바스크립트관련 -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
<!-- 한글관련 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/lang/summernote-ko-KR.min.js"></script>
{% endblock %}
